@font-face {
    font-family: 'GlacialIndifference-Bold';
    src: url('GlacialIndifference-Bold.otf') format('opentype'); /* Adjust the path if you place it in another directory */
}

@font-face {
    font-family: 'MessyChild-axdLa';
    src: url('MessyChild-axdLa.ttf') format('opentype'); /* Adjust the path if you place it in another directory */
}


@font-face {
    font-family: 'GlacialIndifference-Regular';
    src: url('GlacialIndifference-Regular.otf') format('opentype'); /* Adjust the path if you place it in another directory */
}

@font-face {
    font-family: 'chawp';
    src: url('chawp.ttf') format('opentype'); /* Adjust the path if you place it in another directory */
}


html {
    scroll-behavior: smooth;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed; /* Keeps the header fixed on top */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    z-index: 100; /* Ensures the header is on top of other elements */
}

.logo {
    width: 50px; /* Adjust according to your logo's size */
}


.menu {
    position: relative;  /* Added this */
    left: -40px;
}

.hamburger {
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001; /* Ensure it's above the header */
}
.line {
    width: 100%;
    height: 4px;
    background-color:  #333;
    margin-bottom: 5px;
}



.menu .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;  /* Increased the size for better visibility */
    color: #fff;  /* Ensures the color is white */
    background: none;  /* Removes any default background */
    border: none;  /* Removes any default borders */
    z-index: 1001;  /* Ensure it's above the header */
}


.menu .nav-links {
    display: none;
    position: absolute;
    top: 60px; /* Height of the header */
    left: -120px;

    background-color: #333;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1001; /* Ensure it's above the header */
}

.menu .nav-links a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.menu .nav-links a:hover {
    background-color: #555;
}

.section {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Adjusted from center to start */
    align-items: center;
    padding-top: 150px; /* Added padding for the fixed header */
}

#home h1 {
    font-family: 'GlacialIndifference-Bold', sans-serif; 
    margin-bottom: 0px;
    font-size: 1.5em;
}

#home {
    background: url('bg.png') no-repeat center center/cover;
    height: 51vh;
}

#seperator3{

    position: absolute;
    top: 73vh;
   
}

#about {

    background: url('au.png') no-repeat center center/cover;
}

#contact {
    background: url('cu.gif') no-repeat center center/cover;
}

.subtitle {
    font-size:23px;
    margin-top: 10px;
    font-family: 'chawp', sans-serif; 
}

.social-links a {
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.social-links a:hover {
    text-decoration: underline;
}

#about_div{
    font-family: 'GlacialIndifference-Regular', sans-serif; 
    text-shadow: 2px 2px 4px #000000;
    color: whitesmoke;
    margin-top: -100px;
    padding: 25px;
}

#home_titles{

    text-align: center;
}

#about_div p{
    
    text-align: center;
    
}


#contact_div{
    font-family: 'GlacialIndifference-Bold', sans-serif; 

    text-align: center;
    margin-top: 10%;
}

#contact_div h2{
    font-size: 2.2em;
}

#intro_gif{

    top: 25vh;
    width: 100vw;
    z-index: 101;
    position: absolute;

}


#seperator_title{
    font-family: 'GlacialIndifference-Bold', sans-serif; 

    text-align: center;
    padding-top: 13vh;
}

#seperator{


    color: black;
    background-color: white;

}

.preloader{
    height: 100vh;
    /* display: none; */
}

#topseperator{
    height:50px;
}

#seperator4{
    position: absolute;
    top: 225vh;
}

.social-links{
    font-size:23px;
    
    font-family: 'chawp', sans-serif; 
}


@media (min-width: 600px) {

    #about_div h2{
        font-size: 3.5em;
        
    }

    h1{
        font-size: 2em;
    }

    #about_div p{
        font-size: 1.5em;
        
    }

    #home{
        top: 27vh;
        height: 63vh;
    }
    #seperator3{

  
        top: 94vh;
    }
    #intro_gif{
        top: 0vh;
    }
    
    #seperator_title{

        font-size: 2.5em;
    }


}